@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
  font-family: "roboto";
  src:local('roboto'),
     url('./fonts/RobotoSlab-VariableFont_wght.ttf')
}
@font-face{
  font-family: "dancing";
  src:local('dancing'),
     url('./fonts/DancingScript-VariableFont_wght.ttf')
}

body {
  font-family: roboto;
  padding: 0;
  margin: 0;
}
